@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="w-100 text-center" style="background-color:rgba(0,0,0,.7)">
        <h1 class="display-3 mt-3">Welcome to Poe's!</h1>
        <a asp-area="" asp-controller="DrinkMenu" asp-action="Index">
         <button type="button" class="btn btn-lg btn-success mb-4">Order Now</button>
        </a>
    </div>
</div>